.movie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px auto;
  padding: 0 20px;
}


@media (max-width: 768px) {
  .movie-list {
    justify-content: space-around;
  }
}