.header {
    width: 100%;
    padding: 20px 10px;
    background-color: #007bff;
    /* Синий цвет фона */
    color: #ffffff;
    /* Белый цвет текста */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    /* Убедитесь, что заголовок находится над другими элементами */
    text-align: center;
}

.header-content {
    font-size: 24px;
    /* Больший размер шрифта для заголовка */
}

@media (max-width: 768px) {
    .header-content {
        font-size: 20px;
        /* Меньший размер шрифта для адаптации к мобильным устройствам */
    }
}